body {
    background: rgba(0,0,0,0);
}

#main {
    background: #354060;
    width: 640px;
    height: 200px;
}

#boxHeader {
    background: #020923;
    
}

#headerTitle {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    padding: 10px;
}

#boxTextbox {
    background: white;
    margin-left: 20px;
    margin-right: 20px;
}

#creatorCode {
    color: black;
    font-family: arial;
    font-size: 30px;
}

.btnElem {
    background: #3e5176;
    border: 4px #717fa1 solid;
    float: right;
    margin: 5px;
} 

.btnText {
    color: #afb5cd;
    font-family: Arial;
    font-size: 20px;
    padding: 0px;
    margin: 5px;
}

.grow{
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -ms-transform:scale(1.0);
    transform:scale(1.0);
    transition: 300ms;
}

.shrunk {
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    transform:scale(0);
    transition: 300ms;
}

.clicked {
    border: 4px yellow solid !important;
}

.clicked-grow {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform: scale(1.1);
    transition: 200ms;
    background: #1f293b;
}

.clicked-normal {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    transform: scale(1);
    transition: 100ms;
}

#pointer {
    position: absolute;
    top: 225px;
    right: 70px;
    width: 20px;
    visibility: hidden;
}

.flyIn {
    -webkit-transform:translate(-70px,-50px);
    -moz-transform:translate(-70px,-50px);
    -ms-transform:translate(-70px,-50px);
    transform:translate(-70px,-50px);
    transition: 500ms;
}

.flyOut {
    -webkit-transform:translate(30px,100px);
    -moz-transform:translate(30px,100px);
    -ms-transform:translate(30px,100px);
    transform:translate(30px,100px);
    transition: 500ms;
}